### Archive files ###
*.7z
*.gz
*.rar
*.tar
*.zip

### Error log ###
phperrors.txt

### Temp image ###
capture/*

### Np++ backkups ###
*.bak

### Eclipse project file ###
.project

### php.ini ###
php.ini

### save files (tracked separately) ###
saves
