/**** Global ****/
body {
  font-family:Tahoma,'Trebuchet MS',Helvetica,sans-serif;
  line-height:1.2;
}

/*** Main content area (including canvas, and items appearing over it) ***/
#main {
  float:left;
  margin-top:8px;
  position:relative;
  left:-25px;
  z-index:2;
}
/** Main canvas **/
canvas#board {
  position:relative;
  background-color:#202020;
  border:4px ridge #EF2308;
  z-index:23;
}
/** General styling for overlays **/
/* Base style for "hidden" stuff */
div.underbox {
  position:absolute;
  margin:4px;
  z-index:21;
}
/* Style for elevated stuff */
div.z5 {
  z-index:25;
}
/* Up-down arrows (for corruption & pp)*/
div.updown {
  display:inline-block;
  line-height:11px;
  margin:0;
  padding-left:1px;
  height:22px;
  width:16px;
  vertical-align:bottom;
}
/* Styles for always-on overlays*/
#main > div:nth-of-type(5), #main > div:nth-of-type(6) {
  position:absolute;
  overflow:hidden;
  background-color:#111111;
  color:#E0E0E0;
  border:4px ridge #EF2308;
  padding:3px;
  font-weight:bold;
  z-index:24;
}
/** Corruption controls **/
/* Container */
#corruptbox {
  top:0px;
}
/* Adjustment from "shiftbox" toggle */
#corruptbox.shift div.corrupt{
  margin-top:55px;
}
/* Per-region controls */
div.corrupt {
  background-color:#111111;
  color:#E0E0E0;
  border:4px ridge #56CC08;
  margin-top:0px;
  padding:3px 2px 2px 3px;
  -o-transition:margin-top .1s linear;
  -moz-transition:margin-top .1s linear;
  -webkit-transition:margin-top .1s linear;
  transition:margin-top .1s linear;
}
div.corrupt > div {
  height:23px;
}
div.corrupt > div > div {
  float:right;
}
/* toggle for positioning of per-region boxes */
div.shiftbox {
  position:absolute;
  left:155px;
  top:317px;
  background-color:#000000;
  border:4px ridge #56CC08;
  padding:3px;
  width:61px;
}
div.shiftbox img {
  vertical-align:bottom;
}
div.shiftbox img:nth-of-type(2n - 1){
  background-color:#606060;
}
div.shiftbox img.white{
  background-color:#FFFFFF;
  -o-transition:background-color .1s linear;
  -moz-transition:background-color .1s linear;
  -webkit-transition:background-color .1s linear;
  transition:background-color .1s linear;
}
div.shiftbox img.black{
  -o-transition:background-color .1s linear;
  -moz-transition:background-color .1s linear;
  -webkit-transition:background-color .1s linear;
  transition:background-color .1s linear;
}
/** Scoreboard controls **/
/* Container */
#scorebox {
  height:449px;
  width:462px;
}
#upgradecontrolbox {
  position:absolute;
  bottom:0px;
  right:0px;
  border:4px ridge #0840CE;
}
#scorecontrolbox {
  position:absolute;
  top:0;
  right:30px;
  border:4px ridge #0840CE;
}
/* Scoreboard control tables */
#scorebox table {
  background-color:#111111;
  border-width:0;
  font-size:1.15em;
}
#upgradecontrolbox > table {
  width:445px;
}
#scorebox tr {
  padding:2px;
}
#scorebox td.centered {
  text-align:center;
}
#scorebox tr td {
  color:#E0E0E0;
  background-color:inherit;
  border-width:1px 0 0 1px;
  padding:0 2px;
  font-weight:bold;
  font-size:12px;
  vertical-align:middle;
}
#upgradecontrolbox tr td {
  padding:3px 2px 1px 2px;
}
#upgradecontrolbox tr td:first-child {
  padding:2px;
}
#scorebox tr td:first-child {
  color:inherit;
  border-left:0px;
  font-size:14px;
}
#scorebox td > div.togglebox {
  display:inline-block;
  margin:0 3px;
  vertical-align:text-top;
}
#scorebox th {
  border-width:0 0 0 1px;
  color:#E0E0E0;
  background-color:#111111;
  font-weight:800;
}
#scorebox input[type="number"] {
  border:2px inset;
  width:2.6em;
}
#scorebox input.wide[type="number"] {
  width:3.2em;
}
#scorebox input[type="text"]{
  border:2px inset;
  padding-right:2px;
  text-align:right;
  width:1em;
}
#scorebox input.wide[type="text"] {
  text-align:right;
  width:1.5em;
}
/** Figure effect controls **/
#workbox {
  top:273px;
  left:10px;
  background-color:#111111;
  border:4px ridge #8A08CC;
  height:75px;
  width:180px;
}
#workbox > canvas {
  background-color:#303030;
}
#workbox > div {
  display:inline-block;
}
#workbox > div > div:nth-of-type(2n-1){
  clear:both;
}
#workbox > div > div {
  float:left;
  padding:4px 4px 3px 4px;
  color:#E0E0E0;
  font-weight:bold;
}
/** PP controls **/
#ppbox {
  top:319px;
  left:30px;
}
#ppbox span {
  margin:4px 0 0 2px;
  float:left;
}
#ppbox input {
  float:right;
}
/** Controls for resetting PP / DACs **/
#main #resetbox {
  top:490px;
  left:45px;
  padding-bottom:6px;
  width:143px;
  height:44px;
}
#resetbox > span {
  margin:4px 0 0 2px;
  float:left;
  clear:both;
}
#resetbox div.togglebox {
  float:right;
  margin:0 3px;
  vertical-align:text-top;
}
#resetbox input[type="button"]{
  margin:2px 2px 0 0;
  float:right;
}
#resetbox img.toggle{
  margin:4px 4px 0 3px;
}
/** Message popup **/
/* Container */
div.messagebox {
  position:absolute;
  left:0px;
  top:0px;
  margin:4px;
  width:700px;
  height:610px;
}
/* Message types*/
div.error {
  background-color:#E8C2C2;
  position:absolute;
  top:50%;
  right:0px;
  left:0px;
  margin:0px auto;
  padding:4px;
  width:400px;
}
div.okay {
  background-color:#D4EAC2;
  position:absolute;
  top:50%;
  right:0px;
  left:0px;
  margin:0px auto;
  padding:4px;
  width:400px;
}
div.warning {
  background-color:#EAE4C2;
  position:absolute;
  top:50%;
  right:0px;
  left:0px;
  margin:0px auto;
  padding:4px;
  width:400px;
}
div.question {
  background-color:#C2D8EA;
  position:absolute;
  top:50%;
  right:0px;
  left:0px;
  margin:0px auto;
  padding:4px;
  width:400px;
}
/* Backgrounds for message types*/
div.error div.messageframe {
  background-image:url('../graphics/error.png');
  border:4px #9F0000 inset;
  color:#9F0000;
}
div.okay div.messageframe {
  background-image:url('../graphics/check.png');
  border:4px #2A5E05 inset;
  color:#2A5E05;
}
div.warning div.messageframe {
  background-image:url('../graphics/warning.png');
  border:4px #423900 inset;
  color:#423900;
}
div.question div.messageframe {
  background-image:url('../graphics/question.png');
  border:4px #05365E inset;
  color:#05365E;
}
/* General message background styling */
div.messageframe {
  background-position:8px;
  background-repeat:no-repeat;
  padding:0 8px 0 48px;
  margin:0;
}
/* Message content */
div.messageframe p {
  font-weight:bold;
  margin-top:6px;
  margin-bottom:6px;
}
/* Message buttons (used only for "question" style) */
div#messagebuttons input {
  margin:8px 8px 8px 0;
}
/* Message footer */
div.question p.messagefoot {
  display:none;
}
p.messagefoot {
  font-weight:normal;
  font-style:italic;
  font-size:.75em;
}

/*** Handles for pop-up panels (left side) ***/
#handlebox {
  position:relative;
  margin-top:8px;
  padding-left:8px;
  width:60px;
  float:left;
  z-index:1;
}
div.lefthandle {
  margin:14px 0 14px 14px;
  padding:14px 0 14px 14px;
  position:relative;
  left:0px;
  -o-transition:left .1s linear;
  -moz-transition:left .1s linear;
  -webkit-transition:left .1s linear;
  transition:left .1s linear;  
}
div.lefthandle:hover {
  left:-16px;
}
div.handlecontents {
  border:4px ridge #CF2308;
  width:19px;
}
div.handlecontents > img{
  background-color:inherit;
  vertical-align:bottom;
}
/** Old World Card active/inactive toggles **/
#activehandle > div {
  background-color:#111111;
  height:112px;
  padding:3px 4px 2px 2px;
}
/* Individual toggle switches */
#activehandle > div div {
  height:17px;
}
/** Corruption, scoreboard, and workshop panel switches **/
div#corruptswitch {
  border-color:#56CC08;
  background-color:#31C600;
}
div#scoreswitch {
  border-color:#0840CE;
  background-color:#195AFF;
}
div#workswitch {
  border-color:#8A08CC;
  background-color:#AE19FF;
}
#handlebox div.stuck {
  left:-16px;
}
#handlebox div.stuck > div {
  background-color:#FFFFFF;
}

/*** Piece storage and font controls (right side) ***/
#piecesbox {
  position:relative;
  left:-17px;
  margin-top:8px;
  float:left;
  height:620px;
  width:188px;
  z-index:1;
}
/** Token and card storage drawers **/
/* Storage drawer buttons */
#piecesbox > div:nth-of-type(1) {
  position:relative;
  border:4px ridge #EF2308;
  z-index:13;
}
#piecesbox > div:nth-of-type(1) > p {
  background-color:#774415;
  color:#CC7711;
  margin:0;
  border:2px outset #452811;
  text-align:center;
  display:block;
  position:relative;
  font-size:1.375em;
  font-weight:bold;
  height:21px;
  width:176px;
}
#piecesbox > div:nth-of-type(1) > p.down {
  background-color:#322311;
  border:2px inset #452811;
}
/* Slide-out drawers */
#piecesbox > div:nth-of-type(2), #piecesbox > div:nth-of-type(3),
#piecesbox > div:nth-of-type(4) {
  position:absolute;
  top:75px;
  border:4px ridge #EF2308;
  overflow:hidden;
  z-index:11;
}
div.slidedown {
  background-color:#553311;
  line-height:16px;
  position:relative;
  overflow:hidden;
  padding-top:4px;
  margin-top:-700px;
  width:180px;
  -o-transition:margin-top .2s linear;
  -moz-transition:margin-top .2s linear;
  -webkit-transition:margin-top .2s linear;
  transition:margin-top .2s linear;
}
div.open {
  background-color:#322311;
  margin-top:3px;
  -o-transition:margin-top .2s linear, background-color .2s linear;
  -moz-transition:margin-top .2s linear, background-color .2s linear;
  -webkit-transition:margin-top .2s linear, background-color .2s linear;
  transition:margin-top .2s linear, background-color .2s linear;
}
#cc > canvas {
  margin-top:-1px;
}
#owc > canvas {
  margin-top:-1px;
}

/*** File management buttons ***/
div.buttons {
  clear:left;
  padding-top:8px;
  margin-left:50px;
}

/*** Mobile canvas (display for dragged pieces) ***/
div.dragframe {
  background:transparent;
  padding:50px;
  position:absolute;
  z-index:2;
}
canvas.drag {
  background:transparent;
  border:0px;
  margin:0px;
}
