html {
  font-size:.75em;
  font-family:verdana,arial,'sans serif';
  background-color:#737980;
  color:#000000;
}  

body {
  height:100%;
  margin:0px;
}

div {
  border:0;
  margin:0;
  padding:0;
}

h1 {  
  display:block;
  font-size:2em;
  text-align:center;
}
h2 {  
  display:inline-block;
  font-size:1.375em;
  margin:0;
  padding:0;
  text-align:center;
  width:100%;
}
h3 {  
  clear:none;
  display:inline-block;
  font-size:1.125em;
  margin:0;
  padding:.675em;
}

input {
  font-family:verdana,arial,'sans serif';
  overflow:hidden;
}

select {
  font-family:verdana,arial,'sans serif';
  border:1px solid #000000;
  border-spacing:0;
  padding:0;
  margin:0;
}

table, th, td {
  border-style:solid;
  border-color:#000000;
}
table {
  font-size:1em;
  border-collapse:collapse;
  border-width:2px;
}
tr, th, td {
  border-width:1px;
  padding:3px;
  margin:0;
}
td {
  color:#000000;
  background-color:#CFD9E6;
}
th {
  background-color:#A1A9B3;
}

ul {
  list-style-type:none;
}